.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/*Header design*/

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.nav-title{
font-weight:800px;
font-size: 34px;
color: #4E47FF;
}

.sign-up-btn{
  font-size: 16px;
  font-weight: bold;
  padding: 12px 35px;
  border-radius: 10px;
  background-color: #4E47FF;
  color: white;
  border-style: none;
}
.sign-up-btn:hover{
 background-color: #F2C60E;
 animation: pulseButton 0.5s ease-in-out forwards;
}

/*banner styles*/
.bg-image{
  background-image: url(images/Hero-bg.png);
  padding: 50px 152px 150px 150px;

}
.banner-title{
 font-size: 65px;
 font-weight: bold;

}

.banner-content{
  text-align: center;
}

/*See It in Action*/



.sub-heading{
  font-size: 42px;
  font-weight: bold;
  color: #252432;
}

.description{
  font-size: 24px;
  font-weight:500px;
  color: #252432;
  padding-right: 350px;
 
}

.simple-img img{
  border-radius: 48px;
}

.about-1{
  display: flex;
  padding:141px 116px 159px 116px ;
  background-color: #F5F8FF;
}


/*COUNTER COLUMN*/

.heading-01{
  font-size: 38PX;
  font-weight: 800PX;
  text-align: center;
  
}
.about-items{
  display:flex;
  justify-content: space-around;

}

.item-description{
  font-size: 20px;
  font-weight: 400;
  color: #000000;

}

.item-title{
  font-size: 80px;
  font-weight: bold;
  color: #4E47FF;
  margin: 0px;
  padding: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.counter-01{
  background-color: #E5E7FF;
  padding: 59px 142px 59px 142px;

  border-radius: 24px;
}

.section-bg{
  background-color: #F5F8FF;
  padding: 59px 142px 59px 142px;
}